# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

venv/
env/
ENV/

# Jupyter Notebook checkpoints

.ipynb_checkpoints/


# Environment variables

.env

# VS Code

.vscode/

# OS files

.DS_Store
Thumbs.db

# Logs

*.log

# Node (if frontend grows later)

node_modules/

# Build files

dist/
build/
